@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Bebas+Neue&family=Poppins&family=Roboto&family=Work+Sans&display=swap');

/* :root {
  --backgroundColorPrimary: #B1D4E0;
  --navColor: #145DA0;
  --backgroundColorSeccond: #2E8BC0;
  --fontColor: #0C2D48;
  --fontNavColor: #fff;
  --borderColor: #111;
} */

.logo {
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 25px;
}

.SearchNav {
  width: 350px;
}

.navbarEnd {
  display: flex;
  align-items: center;
}

.Notif {
  font-size: 30px;
  margin: 0 16px 0 78px;
  cursor: pointer;
}

.navbarEnd img {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
}

.Footer {
  font-size: 14px;
  font-weight: 400;
}

.testing a {
  font-size: 30px;
  font-weight: 900;
}

.Content {
  margin-top: 80px;
}