* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

#navbar {
    background: #389dfc;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

body.dark #navbar {
    background: #2c82d3;
    transition: .5s;
}

#navbar #logister {
    display: flex;
    position: absolute;
    top: 15px;
    right: 6%;
}

#navbar a {
    text-decoration: none;
}

#navbar a h1 {
    color: #fff;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 30px;
}

body.dark #navbar a h1 {
    color: #e9e9e9;
}

#navbar h2 {
    padding: 5px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;
}

body.dark #navbar h2 {
    color: #e9e9e9;
}

#navbar a h2 {
    padding: 5px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

body.dark #navbar a h2 {
    color: #e9e9e9;
}

#toggleSun {
    position: absolute;
    right: 0;
    background: #e9f5ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    align-items: center;
    padding: 3px 0;
    margin-top: 6px;
    margin-left: 10px;
    top: 13px;
    right: 30px;
    display: none;
}

#toggleSun::before {
    content: '\f185';
    font-family: fontAwesome;
    color: #afafaf;
} 

#toggleSun {
    background: #272933;
    transition: .5s;
}

#toggleMoon{
    position: absolute;
    right: 0;
    background: #e9f5ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    align-items: center;
    padding: 3px 0;
    margin-top: 6px;
    margin-left: 10px;
    top: 13px;
    right: 30px;

}

#toggleMoon::before {
    content: '\f186';
    font-family: fontAwesome;
    color: #000;
}

#logout {
    display: none;
    position: absolute;
    top: 15px;
    right: 6%;
}

@media screen and (max-width:1150px) {
    #navbar {
        margin: auto;
    }

    #navbar #logister {
        top: 15px;
        right: 75px;
    }

    #logout {
        top: 15px;
        right: 75px;
    }

    #navbar a h1 {
        font-size: 30px;
    }

    #navbar h2 {
        font-size: 20px;
    }

    #navbar a h2 {
        font-size: 20px;
    }
}

@media screen and (max-width:820px) {
    #navbar {
        margin: auto;
    }

    #navbar #logister {
        top: 15px;
        right: 75px;
    }

    #logout {
        top: 15px;
        right: 75px;
    }

    #navbar a h1 {
        font-size: 30px;
    }

    #navbar h2 {
        font-size: 20px;
    }

    #navbar a h2 {
        font-size: 20px;
    }
}

@media screen and (max-width:720px) {
    #navbar {
        flex-direction: column;
    }

    #navbar #logister {
        top: 45px;
        right: 110px;
    }

    #navbar a h1 {
        font-size: 25px;
        margin-top: 3px;
    }

    #navbar h2 {
        font-size: 15px;
        margin-top: -10px;
    }

    #navbar a h2 {
        font-size: 15px;
    }

    .toggle {
        position: absolute;
        top: 2%;
        right: 20px;
    }

    #logout {
        top: 44px;
        right: 150px;
    }
}

/* main content */

body.dark #content {
    background: #23242a;
    transition: .5s ease-in-out;
}

#content {
    background: #eaeaea;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    flex-wrap: wrap;
}

#content h3 {
    width: 90%;
    height: 30px;
    background-color: #389dfc;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

body.dark #content h3 {
    color: #e9e9e9;
}

body.dark #content h3 {
    background: #2c82d3;
    transition: .5s;
}

body.dark #content #content1 {
    background: #272933;
    transition: .5s;
}

#content #memberOnly{
    background: #23242a;
    width: 290px;
    height: 160px;
    border-radius: 5px;
    margin-left: -5px;
    opacity: .9;
    color: #fff;
    text-align: center;
}

#content #memberOnly p{
    padding: 65px;
}

#content #content1 {
    background: #dfdfdf;
    width: 1220px;
    height: 180px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#content #content1 #gambar1 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-1.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content1 #gambar1 {
    background-image: url(asset/gambar-1.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content1 #gambar2 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-5.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
    overflow: none;
}

body.dark #content #content1 #gambar2 {
    background-image: url(asset/gambar-5.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content1 #gambar3 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-3.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content1 #gambar3 {
    background-image: url(asset/gambar-3.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content1 #gambar4 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-4.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content1 #gambar4 {
    background-image: url(asset/gambar-4.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content2 {
    background: #dfdfdf;
    width: 1220px;
    height: 180px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

body.dark #content #content2 {
    background: #272933;
    transition: .5s;
}

#content #content2 #gambar1 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-7.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content2 #gambar1 {
    background-image: url(asset/gambar-7.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content2 #gambar2 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-8.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content2 #gambar2 {
    background-image: url(asset/gambar-8.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content2 #gambar3 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-9.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content2 #gambar3 {
    background-image: url(asset/gambar-9.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content2 #gambar4 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-10.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content2 #gambar4 {
    background-image: url(asset/gambar-10.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content3 {
    background: #dfdfdf;
    width: 1220px;
    height: 180px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: -10px;
}

body.dark #content #content3 {
    background: #272933;
    transition: .5s;
}

#content #content3 #gambar1 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-11.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content3 #gambar1 {
    background-image: url(asset/gambar-11.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content3 #gambar2 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-12.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content3 #gambar2 {
    background-image: url(asset/gambar-12.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content3 #gambar3 {
    width: 290px;
    height: 160px;
    background-image: url(asset/gambar-6.jpg);
    background-size: cover;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content3 #gambar3 {
    background-image: url(asset/gambar-6.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

#content #content3 #gambar4 {
    width: 290px;
    height: 160px;
    background-image: url(asset/suisei-potrait.jpg);
    background-size: cover;
    background-position: 50% 30%;
    padding: 0 5px;
    background-color: #389dfc;
    border-radius: 5px;
    cursor: pointer;
}

body.dark #content #content3 #gambar4 {
    background-image: url(asset/suisei-potrait.jpg);
    background-color: #2c82d3;
    transition: .5s;
}

/* login content */
#contentForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    flex-direction: column;
    background: #eaeaea;
}

body.dark #contentForm {
    background: #23242a;
    transition: .5s ease-in-out;
}

#box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 24px 0;
}

body.dark #box {
    background: #272933;
    transition: .5s ease-in-out;
}

#box:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #389dfc);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

body.dark #box:before {
    background-color: #2c82d3;
    transition: .5s;
}

#box:after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #389dfc);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

body.dark #box:after {
    background-color: #2c82d3;
    transition: .5s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#form {
    position: absolute;
    inset: 4px;
    border-radius: 8px;
    background: #fff;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

body.dark #form {
    background: #272933;
    transition: .5s ease-in-out;
}

#form h2 {
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

body.dark #form h2 {
    color: #e9e9e9;
}


#inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

#inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    z-index: 10;
}

#inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 0px;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 1px;
    transition: .5s;
}

#inputBox input:valid~span,
#inputBox input:focus~span {
    color: #389dfc;
    transform: translateX(0px) translateY(-34px);
    font-size: 14px;
}

body.dark #inputBox input:valid~span,
#inputBox input:focus~span {
    color: #2c82d3;
    transition: .5s;
}

#inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #389dfc;
    border-radius: 4px;
    transition: .5s;
    pointer-events: none;
    z-index: 9;
}

body.dark #inputBox i {
    background: #2c82d3;
    transition: .5s;
}

#inputBox input:valid~i,
#inputBox input:focus~i {
    height: 44px;
}

#inCorrect{
    background: #389dfc;
    position: absolute;
    width: 450px;
    height: 550px;
    z-index: 100;
    border-radius: 20px;
    border: #000 solid 3px;
    text-align: center;
    padding: 20px;
    color: #fff;
    display: none;
    animation: .5s;
}

body.dark #inCorrect{
    background-color: #2c82d3;
    color: #e9e9e9;
}

#inCorrect img{
    width: 400px;
    margin: 40px 0;
    border: none;
    box-shadow: 2px 2px 5px #000;
}

#closeEror{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -10px;
    left: 405px;
    background-color: #000;
    z-index: 1000;
    cursor: pointer;
    animation: .5s;
}

#closeEror::after{
    content: '\f00d ';
    font-family: fontAwesome;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 40px;
    margin-top: 4px;
}

body.dark #closeEror::after{
    color: #e9e9e9;
}

#link {
    display: flex;
    justify-content: space-between;
}

#link a {
    color: #8f8f8f;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
}

#link a:hover,
#link a:nth-child(2) {
    color: #389dfc;
}

body.dark #link a:hover,
#link a:nth-child(2) {
    color: #2c82d3;
    transition: .5s;
}

input[type="submit"] {
    border: none;
    outline: none;
    background: #389dfc;
    padding: 11px 25px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

body.dark input[type="submit"] {
    background: #2c82d3;
    transition: .5s;
    color: #e9e9e9;
}

input[type="submit"]:active {
    opacity: .8;
}


@media screen and (max-width:1150px) {
    #content {
        height: auto;
    }

    #content h3 {
        margin-bottom: 10px;
    }

    #content #content1 {
        flex-wrap: wrap;
        width: 80%;
        height: 370px;
        margin-bottom: 10px;
    }

    #content #content2 {
        flex-wrap: wrap;
        width: 80%;
        height: 370px;
        margin-bottom: 10px;
    }

    #content #content3 {
        flex-wrap: wrap;
        width: 80%;
        height: 370px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:820px) {
    #content {
        height: auto;
    }

    #content h3 {
        margin-bottom: 10px;
    }

    #content #content1 {
        flex-wrap: wrap;
        width: 80%;
        height: 370px;
        margin-bottom: 10px;
    }

    #content #content2 {
        flex-wrap: wrap;
        width: 80%;
        height: 370px;
        margin-bottom: 10px;
    }

    #content #content3 {
        flex-wrap: wrap;
        width: 80%;
        height: 370px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:720px) {
    #content {
        height: auto;
    }

    #content h3 {
        margin-bottom: 10px;
    }

    #content #content1 {
        flex-direction: column;
        height: 700px;
        width: 85%;
        margin-bottom: 10px;
    }

    #content #content2 {
        flex-direction: column;
        height: 700px;
        width: 85%;
        margin-bottom: 10px;
    }

    #content #content3 {
        flex-direction: column;
        height: 700px;
        width: 85%;
        margin-bottom: 10px;
    }

    #contentForm {
        height: 79vh;
    }

    #box {
        width: 360px;
        height: 410px;
    }

    #inCorrect{
        width: 300px;
        height: 400px;
    }

    #inCorrect img{
        width: 240px;
    }

    #closeEror{
        top: -3%;
        left: 88%;
    }
}

/* footer */
#footer {
    background: #389dfc;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body.dark #footer {
    background: #2c82d3;
    transition: .5s;
}

#footer h3 {
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 200;
}

body.dark #footer h3 {
    color: #e9e9e9;
}

#footer h3 a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

body.dark #footer h3 a {
    color: #e9e9e9;
}

#footer h4 {
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 200;
}

body.dark #footer h4 {
    color: #e9e9e9;
}

@media screen and (max-width:1150px) {
    #footer h3 {
        font-size: 14px;
    }

    #footer h3 a {
        font-size: 16px;
    }

    #footer h4 {
        font-size: 12px;
    }
}

@media screen and (max-width:820px) {
    #footer h3 {
        font-size: 14px;
    }

    #footer h3 a {
        font-size: 16px;
    }

    #footer h4 {
        font-size: 12px;
    }
}

@media screen and (max-width:720px) {
    #footer h3 {
        font-size: 12px;
    }

    #footer h3 a {
        font-size: 14px;
    }

    #footer h4 {
        font-size: 10px;
    }
}